@import url('https://fonts.googleapis.com/css?family=Michroma&display=swap');

.nav-link {
    color: aquamarine;
}

.navbar-nav .nav-link.active {
    color: rgb(222, 229, 236);
}

.navnar-toggler {
    background-color: rgb(222, 209, 238);
}

.navbar-brand img {
    width: 90px;
}

.sidebar {
    color: rgb(177, 255, 229);
    background: linear-gradient(270deg, #3c16f8 6%, #121212 69%);
}

.body-2 {
    font-family: Michroma, serif;
    background: linear-gradient(90deg, #3c16f8 6%, #121212 69%);
}

p {
    color: aquamarine;
}

.card {
    background: linear-gradient(270deg, #3c16f8 6%, #121212 69%);
    color: rgb(177, 255, 229);
}

footer {
    background: linear-gradient(270deg, #3c16f8 6%, #121212 69%);
}

.card a {
    text-decoration: none;
    color: rgb(177, 255, 229);
}

.slide-text,
.footer-text {
    color: aquamarine;
    margin: auto auto;
}

.call-anim {
    animation: myAnim 2s ease 0s infinite normal forwards;
}

@keyframes myAnim {
	0%,
	100% {
		transform: translateX(0%);
		transform-origin: 50% 50%;
	}

	15% {
		transform: translateX(-30px) rotate(-6deg);
	}

	30% {
		transform: translateX(15px) rotate(6deg);
	}

	45% {
		transform: translateX(-15px) rotate(-3.6deg);
	}

	60% {
		transform: translateX(9px) rotate(2.4deg);
	}

	75% {
		transform: translateX(-6px) rotate(-1.2deg);
	}
}

@media (max-width: 755px) {
    .carousel-indicators {
        display: none;
    }
}


