
.navbar {
    background-color: #ffffff;
    height: 70px;
    /* padding: 1rem; */
    padding-left: 2rem;
}

.nav-link{
    color: #666777;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link:active {
    color: #000
}

@media (min-width: 991px) {
    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2.5px;
        background-color: #009970;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }
    
    .nav-link:hover::before, .nav-link:active::before{
        width: 100%;
        visibility: visible;
    }
}

.navbar-brand {
    font-weight: 500;
    color: #009970;
    font-size: 26px;
    transition: 0.5s color;
}

.hero-section {
    background: url("../images/bgi1.jpg") no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    padding-top: 70px;
}

.hero-section::before {
    background-color: rgba(0, 0, 0, 0.5);
    content: "";
    position: absolute;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}


.hero-section .container {
    z-index: 1;
    position: relative;
}


/* body {
    background-image: url("../images/bgi1.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
} */

.container p {
	margin: 30px;
}

.carousel-inner .carousel-item img{
    padding: 10%;
    padding-left: 30%;
    padding-right: 0;
}